.vehicle-list-container {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
  }
  
  .list-group {
    list-style: none;
    padding: 0;
  }
  
  .list-group-item {
    background-color: #444;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .registration {
    font-weight: bold;
  }
  
  .chassis-number {
    font-family: 'Courier New', monospace;
  }
  
  .vehicle-details-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .details p {
    font-family: Arial, sans-serif;
    margin: 5px 0;
  }