<div class="vehicle-list-container">
    <h3 class="title">Popis vozila</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let vehicle of vehicles">
        <span class="registration">{{ vehicle.registration }}</span>
        <span class="chassis-number">{{ vehicle.chassisNumber }}</span>
        <button type="button" class="delete-button" (click)="deleteVehicle(vehicle.registration)">[X]</button>
      </li>
    </ul>
  </div>

  <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()" class="vehicle-form">
    <div class="form-group">
      <label for="vehicleCode">Vehicle Code</label>
      <input id="vehicleCode" formControlName="vehicleCode" placeholder="Enter vehicle code" required>
    </div>
  
    <div class="form-group">
      <label for="maxNumberOfPassengers">Max Number of Passengers</label>
      <input id="maxNumberOfPassengers" type="number" formControlName="maxNumberOfPassengers" placeholder="Enter max number of passengers" required>
    </div>
  
    <div class="form-group">
      <label for="transmission">Transmission</label>
      <input id="transmission" formControlName="transmission" placeholder="Enter transmission type" required>
    </div>
  
    <div class="form-group">
      <label for="airConditioning">Air Conditioning</label>
      <input id="airConditioning" type="checkbox" formControlName="airConditioning">
    </div>
  
    <div class="form-group">
      <label for="numberOfDoors">Number of Doors</label>
      <input id="numberOfDoors" type="number" formControlName="numberOfDoors" placeholder="Enter number of doors" required>
    </div>
  
    <div class="form-group">
      <label for="fuelType">Fuel Type</label>
      <input id="fuelType" formControlName="fuelType" placeholder="Enter fuel type" required>
    </div>
  
    <div class="form-group">
      <label for="mileage">Mileage</label>
      <input id="mileage" type="number" formControlName="mileage" placeholder="Enter mileage" required>
    </div>
  
    <div class="form-group">
      <label for="registration">Registration</label>
      <input id="registration" formControlName="registration" placeholder="Enter registration" required>
    </div>
  
    <div class="form-group">
      <label for="chassisNumber">Chassis Number</label>
      <input id="chassisNumber" formControlName="chassisNumber" placeholder="Enter chassis number" required>
    </div>
  
    <button type="submit" [disabled]="!vehicleForm.valid">Add Vehicle</button>
  </form>